<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color:rgb(20,20,20)">
    <div class="container-fluid text-center">
        <h1 style="color:whitesmoke">Welcome, Admin!</h1>
        <button class="h2" style="padding:24px;border-radius:24px;background-color:whitesmoke;color:rgb(20,20,20);"><a  style="color:rgb(20,20,20)" th:href="@{/employee}">Employee Management System</a></button>
    </div>
</body>
</html>